.navbar .nav-link img.rounded-circle {
  width: 32px;
}

.progress {
  height: 6px;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before,
.custom-radio .custom-control-input:checked~.custom-control-label::before {
    background-color: #44D62D;
}